<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div class="container">
        <form action="#" th:action="@{/payments/{id}(id=${payment.id})}" th:method="post"></form>
        <label for="paymentDate"></label>
        <input type="datetime-local" th:field="*{paymentDate}" id="paymentDate" placeholder="Data e hora">
    </div>    
</body>
</html>