<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

    <body class="p-3 mb-2 bg-light text-dark">
    <div class="container">
        <div class="card">
            <div class="navbar bg-light">
                <h1 class="p-3 mb-2 bg-primary text-white col-12 text-center">Payment</h1>
            </div>
            <section>
                <div class="card col-xs-6 mb-3 col-sm-12 col-lg-12">
                    <div class="card-body border-top ">
                        <div class="card-header p-3 mb-2 bg-secondary text-white border-top mb-1 d-flex justify-content-between align-items-center  ">
                            <span>Id: <span th:text="${payment.id}" > </span> </span>
                            <form action="#" th:action="@{/payments/{id}(id=${payment.id})}" th:method="delete" >
                                <button type="submit" class="btn btn-danger" th:disabled="${payment.status.name() == 'PAID'}">
                                <img th:src="@{/img/trash.svg}" alt="delete">
                                <span class="ms-1">Delete</span>
                                </button>
                            </form>
                        </div>
                        <div class="card-body ">
                            <div class="border-top d-flex mb-2 justify-content-between align-items-center row flex-sm-row"> 
                                <span class="col-xs-12 col-md-4">Value:
                                    <span th:text="'R$'+${payment.paymentValue}"></span> 
                                </span>
                                <form action="##" th:action="@{/payments/{id}(id=${payment.id})}" th:method="patch">
                                    <button type="submit" class="btn btn-success col-xs-12 col-md-2 col-xl-1" th:disabled="${payment.status.name() == 'PAID'}">
                                        <img th:src="@{/img/credit-card.svg}" alt="pay">
                                        <span class="ms-2">Pay</span>
                                    </button>
                                </form>

                            </div>
                            <div class="border-top d-flex mb-2 justify-content-between align-items-center row flex-sm-row"> 
                                <span class="col-xs-12 col-md-4">Date: 
                                    <span  th:text="${#temporals.format(payment.paymentDate, 'dd-MM-yyyy HH:mm')}+h"></span>
                                </span>
                                <form action="###" th:action="@{/payments/edit/{id}(id=${payment.id})}" th:method="post" >
                                    <button type="submit" class="btn btn-secondary col-xs-12 col-md-2 col-xl-1" th:disabled="${payment.status.name() == 'PAID'}">
                                        <img th:src="@{/img/pencil.svg}" alt="edit" srcset="">
                                        <span class="ms-2">Edit</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div th:if="${payment.status.name() == 'PAID'}" class="border-top mb-1 alert alert-success">Status: <span th:text="${payment.status}"></span> </div>
                        <div th:if="${payment.status.name() == 'PENDING'}" class="border-top mb-1 alert alert-warning">Status: <span th:text="${payment.status}"></span> </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</body>
</html>