<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-light text-dark">
    <header>
        <nav class="navbar navbar-expand-lg bg-light d-flex justify-content-around">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/payments">HOME</a>
                <a class="nav-item nav-link" href=""></a>
                <a class="nav-item nav-link" href=""></a>
                <a class="nav-item nav-link" href=""></a>
            </div>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-secondary" type="submit">CREATE</button>
              </form>
        </nav>
    </header>
    <div class="container">
        <div class="card">
            <div class="navbar bg-light">
                <h1 class="p-3 mb-2 bg-primary text-white col-12 text-center"> Payments</h1>
            </div>
            <section>
                <div th:each="payment : ${payments}" class="card col-12 mb-3 col-sm-12 col-lg-12">
                    <a class="text-decoration-none" th:href="@{/payments/{id}(id=${payment.id})}">
                        <table class="table table-striped table-hover justify-content-center">
                            <thead class="col-12">
                                <tr>
                                    <div>
                                        <td class="d-none d-sm-block">Id</td>
                                        <td>Value</td>
                                        <td>Status</td>
                                        <td>Date</td>
                                    </div>
                                </tr>
                            </thead>
                            
                                <tbody class="col-12">
                                    <tr>
                                    <div class="row">
                                            <div class="col-12">
                                            
                                                    <td class="d-none d-sm-block" th:text="${payment.id}"></td>
                                                    <td th:text="${payment.paymentValue}"></td>
                                                    <td th:if="${payment.status.name() == 'PAID'}" class="border-top alert table-success col-2"><span th:text="${payment.status}"></span> </td>
                                                    <td th:if="${payment.status.name() == 'PENDING'}" class="border-top alert table-warning col-2"><span th:text="${payment.status}"></span> </td>
                                                    <td th:text="${#temporals.format(payment.paymentDate, 'dd-MM-yyyy HH:mm')}+h"></td>
                                            
                                            </div>
                                        <div class="col-12">
                                            <td>
                                                <form class="d-none d-sm-block" action="##" th:action="@{/payments/{id}(id=${payment.id})}" th:method="patch">
                                                    <button type="submit" class="btn btn-success col-12 col-sm-12 col-md-10 col-lg-7" th:disabled="${payment.status.name() == 'PAID'}">
                                                        <img th:src="@{/img/credit-card.svg}" alt="pay">
                                                        <span class="d-none d-sm-block">Pay</span>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form class="d-none d-sm-block" action="###" th:action="@{/payments/edit/{id}(id=${payment.id})}" th:method="post" >
                                                    <button type="submit" class="btn btn-secondary col-12 col-sm-12 col-md-10 col-lg-7" th:disabled="${payment.status.name() == 'PAID'}">
                                                        <img th:src="@{/img/pencil.svg}" alt="edit">
                                                        <span class="d-none d-sm-block">Edit</span>
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <form class="d-none d-sm-block" action="#" th:action="@{/payments/{id}(id=${payment.id})}" th:method="delete" >
                                                    <button type="submit" class="btn btn-danger col-12 col-sm-12 col-md-10 col-lg-7" th:disabled="${payment.status.name() == 'PAID'}">
                                                        <img th:src="@{/img/trash.svg}" alt="delete">
                                                        <span class="d-none d-sm-block">Delete</span>
                                                    </button>
                                                </form>
                                            </td>
                                        </div>
                                    </div>
                                    </tr>
                                </tbody>
                           
                        </table>
                    </a> 
                </div>      
            </section>
        </div>
    </div>

<footer>
    <div class="container text-center  mt-3">
            <div class="row justify-content-md-center">
                <ul th:each="i: ${#numbers.sequence(0, totalPages-1)}" class="pagination , col-2 col-sm-2 col-md-2 col-lg-1 row justify-content-md-center">
                    <li class="page-itempage-item active"><a th:if="${currentPage} == ${i}" th:href="@{'/payments?page=' + ${i}}" class="page-link">[[${i+1}]]</a></li>
                    <li class="page-itempage-item"><a th:unless="${currentPage} == ${i}" th:href="@{'/payments?page=' + ${i}}" class="page-link">[[${i+1}]]</a></li>
                    &nbsp; &nbsp;
                </ul>
            </div>
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</body>
</html>